@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Creepster&family=Gruppo&display=swap');

html {
    background-image: url("assets/ichigo-bg.png");
    background-size: 200px;
    height: 100%;
    width: 100%;
}

body {
    /*background-image: url("assets/falling-stars-border.gif");*/
    background-size: 100% 50%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 50px;

    background-color: rgba(237, 209, 219, 0.7);
    box-shadow: 5px 5px 25px #124a15, -5px -5px 25px #124a15;

    font-family: 'Gruppo', cursive;
    font-size: 1.5rem;
    color: #124a15;
}

#welcome-container {
    margin-top: 50px;
    margin-bottom: -20px;
    /*height: 15rem;*/
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 5rem;
    color: rgba(166, 7, 36);

    animation-name: welcome-banner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

h2 {
    font-family: 'Creepster', cursive;
    color: rgba(166, 7, 36);
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: -25px;
    font-weight: bolder;
    color: rgba(166, 7, 36);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #124a15;
}

a:hover {
    text-decoration: rgba(166, 7, 36) wavy underline;
}

.japanese {
    font-weight: normal;
}

#pointer-sprite-image {
    position: absolute;
    top: 0px;
    right: 1000px;
}