@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+ES+Deco:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    background-image: url("assets/piplup-pika-bg.png");
    background-size: 100px;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

body {
    /*background-image: url("assets/falling-stars-border.gif");*/
    background-size: 100% 50%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f5dd76;
    max-width: 675px;
    box-shadow: 10px 10px rgb(229, 135, 255);
    border: 2px solid rgb(229, 135, 255);
    padding: 20px 200px;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 675px;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 50px;

    font-size: 1.5rem;
    color: black;
}

.project {
    background-color: rgb(251, 241, 254);
    box-shadow: 5px 5px rgb(229, 135, 255);
    border: 1px solid rgb(229, 135, 255);
    padding: 20px;
    margin: 20px;
}

#welcome-container {
    margin-bottom: -20px;
    /*height: 15rem;*/
}

#welcome-text {
    height: 100px;
}

h1 {
    font-family: 'Gluten', cursive;
    font-size: 5rem;
    color: rgb(116, 0, 148);
    font-weight: bold;

    animation-name: welcome-banner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#subheader-container {
    margin: 24px 0;
}

#subheader {
    font-family: 'Gluten', cursive;
    color: rgb(116, 0, 148);
    font-size: 1.75rem;
    margin: 0;
}

.header {
    background-color: #f5dd76;
    box-shadow: 5px 5px rgb(229, 135, 255);
    border: 1px solid rgb(229, 135, 255);
    padding: 20px;
    margin: 20px;
}

.header h2 {
    color: rgb(116, 0, 148);
    font-family: 'Gluten', cursive;
}

h3 {
    font-family: 'Gluten', cursive;
    text-align: center;
}

h5 {
    text-align: center;
}

p, li, h5 {
    font-family: "Courier Prime", monospace;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(116, 0, 148);
}

a:hover {
    text-decoration: rgb(116, 0, 148) wavy underline;
}

.japanese {
    font-weight: normal;
}

#pointer-sprite-image {
    position: absolute;
    top: 0px;
    right: 1000px;
}

.code-btn {
    color: white;
    background-color: rgb(116, 0, 148);
    padding: 5px 10px;
    margin: 0px 12px;
    border-radius: 10px;
}

.visit-btn {
    color: black;
    background-color: #f5dd76;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0px 12px;
    text-transform: uppercase;
}

.project-img {
    width: 575px;
    border: 2px solid rgb(229, 135, 255)
}

.centered {
    text-align: center;
}

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    width: 200px;
    height: 200px;
    margin: 20px 20px 0 0;
    flex-shrink: 0;
    flex-grow: 0; 
    border: 1px solid rgb(229, 135, 255)
}

.icon {
    width: 25px;
}

#links {
    list-style-type: none;
}

#links li {
    padding: 10px 50px 0px 10px;
}

#links a {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
