@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+ES+Deco:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    background-image: url("assets/piplup-pika-bg.png");
    background-size: 100px;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

body {
    background-size: 100% 50%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f5dd76;
    box-shadow: 10px 10px rgb(229, 135, 255);
    border: 2px solid rgb(229, 135, 255);
    padding: 20px;
    flex-grow: 1;
    min-width: 90%;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: black;
}

@media only screen and (max-width: 599px) {
    main {
        padding: 20px;
        min-width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    main {
        padding: 20px 50px;
        max-width: 675px;
    }
}

nav {
    display: flex;
    justify-content: center;
    background-color: #76cdf5;
    box-shadow: 5px 5px rgb(229, 135, 255);
    border: 1px solid rgb(229, 135, 255);
    padding: 20px;
    margin: 20px;
    margin-top: 42px;
    flex-grow: 0;
    align-self: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 20px;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li {
    list-style-type: none;
    font-family: 'Gluten', cursive;
    font-size: 1.25rem;
    text-align: center;
}

#up-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
}

.project {
    background-color: rgb(251, 241, 254);
    box-shadow: 5px 5px rgb(229, 135, 255);
    border: 1px solid rgb(229, 135, 255);
    padding: 20px;
    margin: 20px;
}

#welcome-container {
    text-align: center;
}

#welcome-text {
    height: 50px;
    margin-top: 24px;
    width: fit-content;
}

h1 {
    font-family: 'Gluten', cursive;
    font-size: 5rem;
    color: rgb(116, 0, 148);
    font-weight: bold;
}

#subheader-container {
    margin: 24px 0;
}

#subheader {
    font-family: 'Gluten', cursive;
    color: rgb(116, 0, 148);
    font-size: 1.75rem;
    margin: 0;
}

.header {
    background-color: #f5dd76;
    box-shadow: 5px 5px rgb(229, 135, 255);
    border: 1px solid rgb(229, 135, 255);
    padding: 20px;
    margin: 20px;
}

.header h2 {
    color: rgb(116, 0, 148);
    font-family: 'Gluten', cursive;
}

h3 {
    font-family: 'Gluten', cursive;
    text-align: center;
}

h5 {
    text-align: center;
}

p, li, h5 {
    font-family: "Courier Prime", monospace;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(116, 0, 148);
}

a:hover {
    text-decoration: rgb(116, 0, 148) wavy underline;
}

.japanese {
    font-weight: normal;
}

#pointer-sprite-image {
    position: absolute;
    top: 0px;
    right: 1000px;
}

.code-btn {
    color: white;
    background-color: rgb(116, 0, 148);
    padding: 5px 10px;
    margin: 0px 12px;
    border-radius: 5px;
    text-transform: uppercase;
    outline: 2px outset rgb(229, 135, 255);
    font-weight: bold;
    border: none;
}

.code-btn:hover {
    background-color: rgb(229, 135, 255);
    color: black;
    cursor: pointer;
    outline: 2px inset rgb(116, 0, 148);
}

.visit-btn {
    color: white;
    background-color: #d3ad00;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 12px;
    text-transform: uppercase;
    outline: 2px outset #f5dd76;
    border: none;
}

.visit-btn:hover {
    background-color: #f5dd76;
    color: rgb(116, 0, 148);
    cursor: pointer;
    outline: 2px inset #d3ad00;
}

.project-img {
    width: 575px;
    border: 2px solid rgb(229, 135, 255)
}

.centered {
    text-align: center;
}

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    width: 200px;
    height: 200px;
    margin: 20px 20px 0 0;
    flex-shrink: 0;
    flex-grow: 0; 
    border: 1px solid rgb(229, 135, 255)
}

.icon {
    width: 25px;
}

#links {
    list-style-type: none;
}

#links li {
    padding: 10px 50px 0px 10px;
}

#links a {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: min-content 1fr min-content 1fr;
    font-family: "Courier Prime", monospace;
}

.skills-grid div {
    margin: 12px;
}

.skills-grid img {
    width: 30px;
}

.skill-level {
    text-align: right;
}

#certification {
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: center;
    gap: 20px;
}

#certification img {
    width: 100%;
}

.new {
    color: #639bff;
    display: inline;
    font-size: 1rem;
}